.container-footer {
	display:flex;
	conten
}


.footera {
	width: 100%;
	justify-content: middle;
	padding: 30px 0px 30px 0px;
	text-align: center;
	background-color: white;
}

h1 {
	font-weight: bold;
}